*{
  padding:0px;
  margin:0px;
}
body{
  background-color: darkgrey;
}
.title{
  letter-spacing:6px;;
}
a{
  text-decoration: none;
  color:white;
  
}
.inside_app {
  text-align: center;
  color:white;
  background-color: black;
  padding:20px;
}
.image{
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: grey;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
 
}
.card{
  margin-left: 25px;;
  margin-top: 30px;
  border-radius: 5px;;
}
@media screen and (max-width:400px) {
  body{
    background-color: grey;
  }
     .image{
      margin-top:15px;
      margin-left:15px;
      margin-right:0px;
      
     }
     .card{
      margin-left: 0px;;
  margin-top: 0px;
  margin-right:0px;
  margin-bottom:7px;
  border-radius: 5px;;
  background-color: grey;
     }
}
